includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6

    paths:
        - app
        - config
        - routes
        - tests

    checkMissingCallableSignature: true
    treatPhpDocTypesAsCertain: false
